body {
	width: 100%; /* make me fill the entire screen */
	height: 100%; 
	margin: 0;
	
	/*background-color: blue; set background to blue so that it is visible for testing*/
} 
#root {
	width: 100%;
	height: 100%;
	margin: 0;
}

