body {
	width: 100%; /* make me fill the entire screen */
	height: 100%; 
	margin: 0;
	
	/*background-color: blue; set background to blue so that it is visible for testing*/
} 

#input_text{
	width: 99vw;
	/*height: 5vh;*/
}

svg{
	width: 99vw;
	height: 95vh;
	margin: 0;
	background-color: yellow;
}

